body {
  background-color: black;
  width: screen-width;
  color: white;
  font-family: verdana;
  text-align: center;
}
.active{
  color: white;
}
a:hover{
  animation: animation1 3s;
}
@keyframes animation1{
  0%{}
  100%{}
}
a{
  text-decoration: none;
  color: white;
}
