body {
  background-color: black;
  width: screen-width;
  color: white;
  font-family: verdana;
  text-align: center;
}
.active{
  color: white;
}
a:hover{
  animation: animation1 6s;
}
@keyframes animation1{
  0%{
    color: white;
  }
  100%{
    color: green;
  }
}
a{
  text-decoration: none;
  color: white;
}
