body {
  background-color: black;
  width: screen-width;
  color: green;
  font-family: verdana;
}
.active{
  color: white;
}
a:hover{
  animation: animation1 3s;
}
@keyframes animation1{
  0%{}
  100%{}
}
